body {
  margin: 0;
  padding: 0;

  /* background-color: beige; */
  user-select: none;
}

section {
  margin: 20px;
  padding: 20px;
}

select {
  padding: 4px 7px;
}

option {
  padding: 4px 7px;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  cursor: pointer;
}

.mainDrop {
  border: 1px solid red;
  cursor: pointer;
}

.mainDrop li {
  display: none;
  border: 1px solid red;
  margin: 3px 5px;
  transition: ease;
  cursor: pointer;
}

.tiles {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px 10px;
  justify-content: center;
  border: 2px solid grey;
  border-radius: 5px;
}

.tileHeading {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  cursor: pointer;
}

.tileHeading h5 {
  padding: 5px;
}

.tiles p {
  display: none;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 3px;
  padding: 4px;
}

.menuStyle {
  color: black;
  width: max-content;
  margin: 2px 5px;
  padding: 2px 8px;
  background-color: rgb(214, 214, 214);
  border: 1px solid white;
  border-radius: 3px;
}

.subMenuLi {
  margin-left: 50px;
  /* width: auto; */
  border: 1px solid red;
}

.mini {
  /* display: none; */
  /* padding: 3px; */
  margin-left: 50px;
  /* border: 1px solid blue; */
}

img {
  background-color: rgb(214, 214, 214);
  border-radius: 10px;
}
